
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Loading section */

#loading-screen {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ded9c3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen-bg {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  mix-blend-mode:multiply;
}

.loading-screen-bg-texture {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image:
  url(/textures/grid.jpg);
  background-repeat: repeat;
  background-size: auto; 
  opacity: .6;
  mix-blend-mode:overlay;
}

.loading-screen-bg-text {
  font-size: 2rem;
  color: black;
  font-family: LB-italic;
  text-decoration: line-through;
}

/* Landing section */

#landing-scene {
  width: 100vw;
  height: 100vh;
}

#walkGif {
  width: 100vw;
  height: 100vh;
  position:absolute;
  mix-blend-mode:multiply;
  overflow:hidden ;
  opacity: .95;

}

.landing-scene-description {
  width: 100vw;
  padding-left: 5vw;
  z-index: 2;
  display: flex;
  font-size: 1.5rem;
  font-family: 'LB-reg';
  position: absolute;

}
.landing-scene-description-left {
  width: 30%;
  height: 80vh;
}

.noise-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  background-image:
  url(/textures/noise512.png);
  background-repeat: repeat;
  background-size: auto;
  opacity: .2;
  mix-blend-mode:overlay;
}

.chapter-number {
  font-size: .7rem;
  text-transform: uppercase;
  font-family: archivo;
}

.word {overflow: hidden;}


